@forward "./elements.scss";
@forward "./platforms.scss";
@forward "./playlist.scss";
@forward "./playlistLiveMode.scss";

:root {
	--accent: rgb(245, 36, 74);
	--accent-filter: invert(20%) sepia(72%) saturate(4109%) hue-rotate(339deg)
		brightness(102%) contrast(92%);
	--accent-dim: hsl(349, 100%, 30%);

	--tracklist: rgb(29, 29, 29);
	--playlist-BG: rgb(14, 14, 14);
	--playlist-item-BG: rgb(45, 45, 45);
	--annotation: rgb(77, 77, 77);
	--palette-BG: rgb(45, 45, 45);
}

body {
	font-size: 10px;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
}

* {
	cursor: default;
}

*:focus {
	//outline: 3px solid purple;
}
