@forward './elements.scss';
@forward './platforms.scss';

:root {
	--accent: rgb(0, 108, 141);
	--accentDark: rgb(0, 63, 82);
	--secondary: rgb(219, 84, 6);

	--topBarHeight: 50px;
}

@font-face {
	font-family: Louis;
	font-weight: bold;
	src: url(../../src-tauri/assets/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
	font-family: Louis;
	font-weight: normal;
	src: url(../../src-tauri/assets/Louis\ George\ Cafe.ttf);
}

@font-face {
	font-family: Louis;
	font-weight: light;
	src: url(../../src-tauri/assets/Louis\ George\ Cafe\ Light.ttf);
}

body {
	font-size: 10px;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}