@forward "./elements.scss";
@forward "./platforms.scss";

:root {
	--accent: rgb(0, 108, 141);
	--secondary: rgb(245, 36, 74);
	--secondary-filter: invert(20%) sepia(72%) saturate(4109%) hue-rotate(339deg) brightness(102%) contrast(92%);

	--annotation: rgb(54, 54, 54);
	--topBarHeight: 54px;
}

body {
	font-size: 10px;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
}

* {
	cursor: default;
}

*:focus {
	//outline: 3px solid purple;
}
