.windowBody {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 54px 1fr auto;
	grid-template-areas: 'sideBar topBar'
						 'sideBar playList'
						 'sideBar editor';
}

.sideBar {
	.trackList {
		height: 100%;
		overflow-x: hidden;
		padding: 0px 10px 0px 10px;

		&::-webkit-scrollbar {
			width: 8px;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: #181818;
		}

		.trackListItem {
			box-sizing: border-box;
			height: 30px;
			padding: 6px;
			font-size: 12rem;
			border-radius: 5px;
			background-color: transparent;

			&:hover {
				background-color: var(--hover);
			}
		}

		.seperator {
			padding: 0px 0px 0px 6px;
			margin: 20px 0px 5px 0px;

			font-size: 16rem;
			font-weight: bold;
		}
	}
}

.playList {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	background-color: rgb(14, 14, 14);
	padding: 10px;
	gap: 12px;

	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #363636;
	}

	.playlistItem {
		position: relative;
		border-radius: 8px;

		&.selected::after {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			width: 100%;
			height: 100%;
			border: 3px solid var(--accent);
			border-radius: 11px;
			background-color: transparent;
			display: inherit;
		}

		&.missing {
			.annotationStart {
				background-color: #aa0000;

			}

			.inner {
				background-color: #dd0000;

				* {
					opacity: 70%;
				}
			}

			.annotationEnd {
				background-color: #aa0000;

			}
		}

		.inner {
			position: relative;
			z-index: 10;
			height: 60px;
			display: flex;
			flex-direction: row;
			overflow: hidden;
			background-color: var(--panel2);
			border-radius: 8px;

			.playBtn {
				width: 30rem;
				height: 30rem;
				margin: 14rem 2rem 14rem 10rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				img {
					filter: invert(90%);
				}
			}

			.title {
				margin: 6rem 0 0 10rem;
				text-overflow: clip;
				overflow: hidden;
				font-size: 20rem;
				font-weight: bold;
				color: white;
			}

			.location {
				margin: 6rem 0 0 10rem;
				text-overflow: clip;
				overflow: hidden;
				font-size: 12rem;
				color: white;
			}

			.length {
				width: 70rem;
				padding-right: 14rem;
				text-align: right;
				line-height: 60px;
				font-size: 16rem;
				font-weight: bold;
			}

			.fade {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;
				width: 100rem;
				padding: 0px;

				p {
					width: 60rem;
					height: 18rem;
					margin: 6rem 0 0 0;
					font-size: 12rem;
				}

				input {
					width: 40rem;
					height: 18rem;
					margin: 6rem 0 0 0;
					border-radius: 4rem;
					text-align: right;
				}
			}

			.volume {
				grid-area: volume;
				display: flex;
				flex-direction: column;

				span {
					display: flex;
					flex-direction: row;
					height: 18rem;
					margin-top: 6rem;
				}

				p {
					width: 20px;
					margin: auto 0px;
					text-align: center;
					font-weight: bold;
				}
			}

			input[type=range] {
				width: calc(100% - 40px);
				height: 6px;
				margin: auto 0px;

				-webkit-appearance: none;
				outline: none;
				border-radius: 5px;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: var(--accent);
				}
			}


			.progress {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 6rem;
				background-color: var(--secondary);
			}
		}

		.annotationStart {
			position: relative;
			z-index: 1;
			padding: 5px 10px 10px 10px;
			margin-bottom: -5px;

			background-color: var(--panel3);
			border-radius: 8px 8px 0px 0px;

			p {
				width: 100%;
				font-size: 15rem;
				text-align: left;
			}
		}

		.annotationEnd {
			position: relative;
			z-index: 1;
			padding: 10px 10px 5px 10px;
			margin-top: -5px;

			background-color: var(--panel3);
			border-radius: 0px 0px 8px 8px;

			p {
				width: 100%;
				font-size: 15rem;
				text-align: left;
			}
		}
	}

	.playlistAnotation {
		position: relative;
		padding: 5px 10px 7px 10px;
		background-color: rgb(100, 100, 100);
		border-radius: 8px;

		&.selected::after {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			width: 100%;
			height: 100%;
			border: 3px solid var(--accent);
			border-radius: 11px;
			background-color: transparent;
			display: inherit;
		}

		p {
			width: 100%;
			font-size: 15rem;
			text-align: left;
			color: white;
			background-color: transparent;
		}
	}
}

.editor {
	grid-area: editor;
	height: 200rem;
	background-color: var(--propertiesBG);
	border-top: 1px solid var(--gridGap);
}

.topBar {
	min-height: var(--topBarHeight);
}