.window-body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 54px 1fr auto;
	grid-template-areas:
		"topBar  topBar   topBar"
		"sideBar playList palettes"
		"sideBar editor   palettes";
}

.splash {
	position: fixed;
	z-index: 900;
	width: 100vw;
	height: 100vh;
	display: flex;

	&::backdrop {
	}

	.wrapper {
		position: relative;
		inset: 0;
		width: 536px;
		height: 536px;
		margin: auto;
		background-color: var(--secondary);
		//border: 12px solid #FF2D55;
		border-radius: 28px;
		box-shadow: 2px 2px 64px rgba(0, 0, 0, 0.585);

		.splash-art {
			position: absolute;
			width: 512px;
			height: 256px;
			inset: 12px 12px 0 12px;
			object-fit: cover;
			border-radius: 16px;
		}

		.top {
			position: absolute;
			inset: 286px 28px auto 26px;
			height: 62px;
			//background-color: #6300aa;

			.icon {
				position: absolute;
				width: 140px;
				aspect-ratio: 1;
				inset: -40px -24px auto auto;
			}

			h1 {
				position: absolute;
				inset: -16px auto auto 0px;
				color: rgb(255, 255, 255);
				font-family: pure;
				font-size: 42px;
				font-weight: 400;
				text-shadow: 1px 0 12px rgba(0, 0, 0, 0.646);

				b {
					font-weight: 700;
				}
			}

			.version {
				position: absolute;
				inset: auto auto -8px 0px;
				color: white;
				font-size: 26px;
				font-family: pure;
				letter-spacing: 2px;
				text-shadow: 1px 0 6px black;
			}
		}

		.container {
			position: absolute;
			inset: auto 0 0 0;
			width: 100%;
			height: 180px;
			padding: 26px;
			display: flex;
			flex-direction: row;
			background-color: transparent;

			span {
				display: flex;
				flex-direction: column;
				gap: 16px;
				min-width: 256px;

				button {
					position: relative;
					height: 20px;
					padding: 0 0 0 24px;
					line-height: 20px;
					font-size: 18px;
					font-weight: 400;
					text-align: left;
					color: white;
					background-color: transparent;

					img {
						position: absolute;
						inset: 0;
						width: 20px;
						height: 20px;
						filter: invert(100%);
					}
				}
			}
		}
	}
}

.side-bar {
	grid-area: sideBar;
	background-color: var(--topbar-BG);
	width: 0;
	padding-top: 0;
	border-bottom-left-radius: var(--win-corner);
	border-right: 1px solid var(--grid-gap);

	&.exposed {
		width: 300px;

		@media (width > 1500px) {
			width: 400px;
		}
	}

	.trackList {
		height: 100%;
		overflow-x: hidden;
		padding: 10px;

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #181818;
			border-radius: 4px;
		}

		.category {
			height: 20px;
			font-size: 12px;
			padding-left: 4px;
			margin: 20px 0 0 0;
			font-weight: 600;

			&:nth-child(1) {
				margin: 0;
			}
		}

		.trackListItem {
			display: flex;
			height: 30px;
			padding: 0;
			font-size: 14px;
			border-radius: 6px;
			background-color: transparent;
			overflow: hidden;

			&:hover {
				background-color: var(--hover);
			}

			&.dragging {
				opacity: 70%;
			}

			.play-btn {
				background-color: transparent;
			}

			img {
				width: 30px;
				height: 30px;
				filter: invert(100%);
			}

			p {
				margin-left: 4px;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.playlist {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding-bottom: 10vh;
	background-color: rgb(14, 14, 14);

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #363636;
		border-radius: 4px;
	}

	.border {
		display: flex;
		flex-direction: row;
		padding: 9rem 9rem 0 9rem;
	}

	&.annotations > :not(:has(.border .annotation-attached)) {
		&::before {
			content: "";
			width: 30%;
		}
	}

	.drag-over::after {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		translate: 0 4rem;
		border-top: 2rem solid var(--secondary);
	}

	.selected .border::after {
		content: "";
		position: absolute;
		inset: 6rem 6rem -3rem 6rem;
		background-color: var(--secondary);
		border-radius: 11rem;
	}

	.inner {
		position: relative;
		z-index: 10;
		flex: 1;
		height: 60rem;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		background-color: var(--panel2);
		border-radius: 8rem;

		.drag-area > img {
			display: none;
		}

		.title {
			flex: 1;
			position: relative;
			display: flex;
			justify-content: left;
			margin-left: 10rem;
			height: 42rem;
			line-height: 42rem;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 18rem;
			font-weight: 500;
			color: white;

			input {
				display: block;
				width: 100%;
				margin: auto 0;
				color: inherit;
				background-color: transparent;
				font-size: inherit;
				font-weight: inherit;
			}

			p {
				margin: auto 0;
			}
		}

		.play-btn {
			position: relative;
			width: 30rem;
			height: 30rem;
			margin: 6rem 0 6rem 6rem;
			border-radius: 5rem;
			background-color: transparent;

			&:hover {
				background-color: var(--hover);
			}

			&.active {
				background-color: var(--secondary);
			}

			img {
				width: 30rem;
				height: 30rem;
				filter: invert(90%);
			}
		}

		.options {
			display: flex;
			flex-direction: row;

			.option {
				position: relative;
				width: 30rem;
				height: 30rem;
				margin: 6rem 0;
				background-color: transparent;
	
				&:hover {
					background-color: transparent;
				}
	
				&.repeat-btn,
				&.auto-reset-btn {
					display: none;
				}
	
				&.active {
					display: block;
				}
	
				&.fade-icon {
					filter: invert(100%);
				}
	
				&.hotkey {
					& > p {
						width: 16rem;
						aspect-ratio: 1;
						margin: 6rem;
						color: var(--panel2);
						background-color: var(--text);
						border-radius: 4rem;
						text-align: center;
						line-height: 16rem;
						font-size: 12rem;
						font-weight: 800;
					}
				}
	
				img {
					width: 30rem;
					height: 30rem;
					filter: invert(100%);
				}
			}
		}


		.timecode {
			position: relative;
			width: 60rem;
			height: 42rem;
			line-height: 42rem;
			text-align: right;
			font-size: 16rem;
			font-weight: 600;

			&::after {
				content: "/";
				padding: 0 6rem;
			}
		}

		.length {
			position: relative;
			width: 50rem;
			height: 42rem;
			line-height: 42rem;
			text-align: left;
			font-size: 16rem;
			font-weight: 600;
		}

		.fade {
			display: none;
		}

		.volume {
			display: none;
		}

		input[type="range"] {
			-webkit-appearance: none;
			appearance: none;
			outline: none;
			width: calc(100% - 40rem);
			height: 16rem;
			border-radius: 5rem;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 8rem;
				height: 16rem;
				border-radius: 4rem;
				background-color: var(--secondary);
				box-shadow: 0px 0px 0 2rem var(--panel2);
			}

			&::-webkit-slider-runnable-track {
				height: 16rem;
				background: linear-gradient(
					90deg,
					hsl(0, 0%, 100%),
					hsl(0, 0%, 67%) 80%,
					rgb(105, 105, 105) 80%
				);
				border-radius: 4rem;
			}

			&.pan::-webkit-slider-runnable-track {
				background: linear-gradient(
					270deg,
					hsl(0, 0%, 62%) 50%,
					rgb(255, 255, 255) 50%
				);
			}
		}

		.progress {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 18rem;
			background-color: white;
		}

		.waveform {
			pointer-events: none;
			position: absolute;
			bottom: 6.2rem;
			height: 12rem;
			width: 100%;
		}
	}

	.editMode {
		.drag-area {
			cursor: grab;
			width: 28rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 6rem;

			& > img {
				display: block;
				pointer-events: none;
				width: 10rem;
				height: 10rem;
				margin: auto;
				filter: invert(80%);
				translate: 2rem 0;
			}
		}

		.play-btn {
			margin: 12rem 0 12rem 0;
		}

		.title {
			height: 54rem;
			line-height: 27rem;
			font-size: 18rem;
		}

		.options {
			.option {
				margin: 12rem 0;
				border-radius: 5rem;
	
				&:hover {
					background-color: var(--hover);
				}
	
				&.repeat-btn,
				&.auto-reset-btn {
					display: block;
				}
	
				&.active {
					background-color: var(--secondary);
				}

				&.active:has(+ .active) {
					border-radius: 5rem 0 0 5rem;
				}

				&.active + .active {
					border-radius: 0 5rem 5rem 0;
				}
	
				&.hotkey {
					&:hover {
						background-color: transparent;
					}
				}
	
				img {
					filter: invert(90%);
				}
			}
		}

		.timecode {
			display: none;
		}

		.length {
			text-align: right;
			width: 60rem;
			height: 54rem;
			padding: 0 16rem 0 0;
			line-height: 54rem;
		}

		.fade {
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: flex-start;
			width: 58rem;
			height: 54rem;
			padding: 0;

			img {
				width: 18rem;
				height: 18rem;
				margin: 6rem 0 0 0;
				font-size: 12rem;
				filter: invert(1);
			}

			input {
				width: 40rem;
				height: 18rem;
				margin: 6rem 0 0 0;
				border-radius: 4rem;
				text-align: right;
				font-size: 10rem;
				font-weight: 700;

				&:focus {
					box-shadow: 0 0 0 3rem var(--secondary);
				}
			}
		}

		.volume {
			position: relative;
			grid-area: volume;
			display: flex;
			flex-direction: column;
			height: 54rem;

			span {
				display: flex;
				flex-direction: row;
				height: 18rem;
				margin-top: 6rem;
			}

			p {
				width: 20rem;
				margin: auto 0;
				text-align: center;
				font-weight: bold;
			}
		}

		.progress {
			height: 6rem;
		}

		.waveform {
			display: none;
		}
	}

	.playlistInsert {
		.insert {
			position: relative;
			z-index: 1;
			margin: 9rem 9rem 0 9rem;
			height: 60rem;
			color: gray;
			border-radius: 8rem;
			border: dashed 2px gray;
		}
	}

	.playlistTrack {
		position: relative;
		z-index: 1;
		opacity: 40%;

		&.missing {
			.annotationStart {
				background-color: #aa0000;
			}

			.inner {
				background-color: #dd0000;

				* {
					opacity: 70%;
				}
			}

			.annotationEnd {
				background-color: #aa0000;
			}
		}

		&.loaded {
			opacity: 100%;
		}
	}

	.playlistVideo {
		position: relative;
		z-index: 1;
		border-radius: 8rem;

		&.missing {
			.annotationStart {
				background-color: #aa0000;
			}

			.inner {
				background-color: #dd0000;

				* {
					opacity: 70%;
				}
			}

			.annotationEnd {
				background-color: #aa0000;
			}
		}

		&.editMode {
			.inner {
				.progress {
					height: 6rem;
				}

				.play-btn {
					margin: 7rem 0;
				}

				.repeat-btn {
					visibility: visible;

					&:hover {
						background-color: var(--hover);
					}

					&.active {
						background-color: var(--secondary);
					}

					img {
						filter: invert(90%);
					}
				}
			}
		}

		.inner {
			height: 50rem;

			.play-btn {
				margin: 7rem 0 7rem 7rem;
			}

			.set-btn {
				margin: 7rem 0;
			}

			.title {
				height: 44rem;
			}

			.progress {
				height: 6rem;
			}
		}
	}

	.playlistAnotation {
		position: relative;
		z-index: 1;
		border-radius: 8rem;
		background-color: transparent;

		.container {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: row;
			z-index: 10;
			background-color: var(--annotation);
			border-radius: 8rem;

			.drag-area {
				margin-bottom: 0;
			}
		}
	}

	.playlistLoop {
		position: relative;
		z-index: 1;
		height: auto;
		border-radius: 8rem;

		.border .container {
			background-color: var(--panel2);
			border-radius: 8rem;

			button {
				position: absolute;
				width: 30rem;
				height: 30rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				img {
					width: 30rem;
					height: 30rem;
					filter: invert(90%);
				}
			}

			.play-btn {
				inset: 4rem;
			}

			.shuffleBtn {
				inset: 4rem 0 0 38rem;
			}

			.name {
				position: absolute;
				inset: 4rem 0 0 72rem;
				font-size: 16rem;
				padding: 4rem 0 4rem 8rem;
			}

			.content {
				display: flex;
				flex-direction: column;
				padding: 38rem 4rem 4rem 4rem;

				.playlistTrack {
					border-radius: 0;
					background-color: rgb(22, 22, 22);

					.border {
						padding: 0;
					}

					&:first-child {
						border-radius: 5rem 5rem 0 0;
						.inner {
							border-radius: 5rem 5rem 0 0;
						}
					}

					&:last-child {
						border-radius: 0 0 5rem 5rem;
						.inner {
							border-radius: 0 0 5rem 5rem;
						}
					}

					.inner {
						height: 30rem;
						border-radius: 0;
						background-color: transparent;

						.title {
							font-size: 14rem;
						}
					}
				}
			}
		}
	}

	.annotation-attached {
		position: relative;
		z-index: 1;
		width: 30%;
		padding: 5rem 10rem 10rem 10rem;
		margin-right: -5rem;

		background: var(--annotation);
		border-radius: 8rem 0 0 8rem;

		input {
			width: 100%;
			font-size: 15rem;
			text-align: left;
			color: var(--text);
			background-color: transparent;
		}
	}

	.drag-area {
		display: none;
	}

	.placeholder {
		position: relative;
		z-index: 1;
		margin: 9rem 9rem 0 9rem;
		height: 60rem;
		line-height: 60rem;
		text-align: center;
		font-size: 12rem;
		font-weight: 800;
		color: gray;
		border-radius: 8rem;
		border: dashed 2px gray;
	}
}

.editor {
	grid-area: editor;
	height: 200rem;
	position: relative;
	background-color: rgb(31, 31, 31);
	border-top: 1px solid var(--grid-gap);

	.prop-bar {
		height: 28rem;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		background-color: var(--panel);

		label {
			height: 28rem;
			line-height: 28rem;
			padding: 0 8rem;
			font-size: 13rem;
		}

		input {
			height: 20rem;
			width: 50rem;
			margin: 4rem 2rem;
			padding: 0 2rem;
			border-radius: 4rem;
			font-size: 12rem;
			text-align: right;

			&:focus {
				box-shadow: 0 0 0 2rem var(--secondary);
			}
		}
	}

	.track {
		position: absolute;
		inset: 40rem 12rem 12rem 12rem;
		background-color: white;
		//overflow: hidden;
		box-shadow: 0 0 2px black;

		.resizer {
			pointer-events: none;
			position: absolute;
			z-index: 10;
			width: 60rem;
			inset: 0 auto 0 0;
			background-color: rgba(0, 0, 0, 0.422);
			border-right: 1rem solid var(--secondary);
		}

		.waveform {
			pointer-events: none;
			width: 100%;
			height: 100%;
		}
	}

	p {
		display: block;
		width: 100%;
		height: 200rem;
		line-height: 200rem;
		font-size: 14rem;
		font-weight: 600;
		color: gray;
		text-align: center;
	}
}

.palettes {
	grid-area: palettes;
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--grid-gap);
	width: 300rem;
	border-left: 1px solid var(--grid-gap);
}

.current {
	background-color: var(--properties-BG);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 8rem;
	gap: 8rem;

	.song {
		position: relative;
		height: 32rem;
		padding: 0 8rem;
		line-height: 32rem;
		font-size: 12rem;
		overflow: hidden;
		border-radius: 5rem;

		&:hover {
			background-color: var(--hover);
		}

		.state {
			position: absolute;
			height: 32rem;
			top: 0;
			left: 0;
			background-color: #141414;

			&.playing {
				background-color: var(--secondary);
			}
		}

		p {
			position: relative;
		}
	}

	.placeholder {
		display: none;
		text-align: center;
		font-size: 12rem;
		line-height: 30rem;
		font-weight: 500;
		color: rgb(191, 191, 191);

		&:nth-child(1) {
			display: block;
		}
	}
}

.hotkeys {
	background-color: var(--properties-BG);
	padding: 6rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	.hotkeySlot {
		height: 32rem;
		display: flex;
		flex-direction: row;

		&.playing {
			.key {
				background-color: var(--secondary);
			}

			.name {
				border: solid 3rem var(--secondary);
			}
		}

		&:has(> .placeholder) {
			.key {
				color: #6e6e6e;
				background-color: rgb(25, 25, 25);
			}
		}

		.key {
			width: 36rem;
			height: 32rem;
			margin-right: -8rem;
			padding-right: 4rem;
			text-align: center;
			font-size: 16rem;
			line-height: 32rem;
			background-color: rgb(15, 15, 15);
			border-radius: 8rem 0 0 8rem;
		}

		.name {
			flex: 1;
			padding: 0 10rem;
			font-size: 14rem;
			line-height: 29rem;
			overflow: hidden;
			background-color: rgb(15, 15, 15);
			border: solid 3rem rgb(15, 15, 15);
			border-radius: 8rem;
		}

		.placeholder {
			flex: 1;
			border-radius: 8rem;
			background-color: var(--properties-BG);
			border: solid 3rem rgb(25, 25, 25);
		}
	}
}

.topbar.toolbar {
	min-height: var(--topbar-height);
	border-top-left-radius: var(--win-corner) !important;

	.topbar-button.mode-switch {
		width: 80px !important;
		display: flex;
		flex-direction: row;
		line-height: 28px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 0 6px 6px 0;
		color: var(--text);
		background-color: transparent;

		p {
			margin: auto 0;
		}
	}

	.win-buttons-ms {
		button {
			//height: 45px !important;
		}
	}
}
