.window-body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"topbar    topbar   topbar"
		"tracklist playList palettes"
		"tracklist editor   palettes";
}

.splash {
	position: fixed;
	z-index: 900;
	width: 100vw;
	height: 100vh;
	display: flex;

	.wrapper {
		position: relative;
		inset: 0;
		width: 640px;
		height: 640px;
		margin: auto;

		.splash-art {
			position: absolute;
			z-index: 10;
			width: 640px;
			height: 640px;
			object-fit: cover;
			pointer-events: none;
		}

		.top {
			position: absolute;
			inset: 18px 28px;
			color: white;

			h1 b {
				font-size: 50px;
				font-family: "Outfit";
			}

			.version {
				height: 46px;
				line-height: 46px;
				font-family: "Outfit";
				font-size: 34px;
			}
		}

		.box {
			position: absolute;
			inset: 70px;
			width: 500px;
			height: 500px;
			background-color: var(--accent);
			box-shadow: 0 6px 32px black;
			border-radius: 26px;
		}

		span {
			z-index: 20;
			position: absolute;
			bottom: 0;
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 250px;
			height: 208px;
			padding: 28px;

			button {
				position: relative;
				display: flex;
				height: 32px;
				width: 194px;
				padding: 6px;
				line-height: 20px;
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0.4px;
				text-align: left;
				color: white;
				background-color: transparent;
				border-radius: 6px;
				transition: 200ms;

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
				}

				&:nth-child(n + 5) {
					display: none;
				}

				* {
					pointer-events: none;
				}

				img {
					inset: 0;
					width: 20px;
					height: 20px;
					margin-right: 5px;
					filter: invert(100%);
				}
			}
		}
	}
}

.tracklist {
	grid-area: tracklist;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 300px;
	height: 100%;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--tracklist);
	border-bottom-left-radius: var(--win-corner);
	border-right: 1px solid var(--grid-gap);

	@media (width > 1500px) {
		width: 400px;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #181818;
		border-radius: 4px;
	}

	.folder-name {
		height: 32px;
		line-height: 26px;
		font-size: 12px;
		padding: 6px 0 0 6px;
		font-weight: 800;

		&:nth-child(1) {
			margin: 0;
		}
	}

	.trackListItem {
		display: flex;
		flex-shrink: 0;
		height: 30px;
		padding: 0;
		font-size: 14px;
		border-radius: 6px;
		background-color: transparent;
		overflow: hidden;

		&:hover {
			background-color: var(--hover);
		}

		&.dragging {
			opacity: 70%;
		}

		.play-btn {
			background-color: transparent;
		}

		img {
			width: 30px;
			height: 30px;
			filter: invert(100%);
		}

		p {
			margin-left: 4px;
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.add {
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 30px;
		margin: 20px 0;
		border-radius: 6px;
		background-color: transparent;
		overflow: hidden;

		&:hover {
			background-color: var(--hover);
		}

		img {
			width: 30px;
			height: 30px;
			filter: invert(100%);
		}

		p {
			font-size: 14px;
			line-height: 30px;
			font-weight: 600;
			color: rgb(235, 235, 235);
		}
	}
}

// editor Panel
.editor {
	grid-area: editor;
	height: 220px;
	position: relative;
	background-color: rgb(31, 31, 31);
	border-top: 1px solid var(--grid-gap);

	.prop-bar {
		height: 34px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		background-color: var(--panel);

		label {
			height: 34px;
			line-height: 34px;
			padding: 0 12px;
			font-size: 14px;
		}

		.prop-number {
			margin: 7px 0;
		}
	}

	.placeholder {
		margin: auto;
		text-align: center;
		line-height: 180px;
		font-size: 14px;
		font-weight: 600;
	}

	.track-wrapper {
		position: absolute;
		inset: 46px 12px 12px 12px;

		.border {
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			border: 1px solid var(--accent);
			border-radius: 5px;
		}

		.track {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		.waveform {
			pointer-events: none;
			width: 100%;
			height: 100%;
		}

		input {
			appearance: none;
			-webkit-appearance: none;
			position: absolute;
			inset: 0;
			background-color: transparent;

			&::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				appearance: none;
				height: 100%;
				background-color: transparent;
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				height: 100%;
				width: 1px;
				background: var(--accent);
				background: transparent;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					width: 6px;
					height: 6px;
					background-color: var(--accent);
				}
			}
		}
	}
}

// side palettes
.palettes {
	grid-area: palettes;
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--grid-gap);
	width: 360rem;
	border-left: 1px solid var(--grid-gap);
}

// current panel
.current {
	background-color: var(--palette-BG);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10rem;
	gap: 10rem;

	.song {
		position: relative;
		display: flex;
		flex-direction: row;
		height: 40rem;
		padding: 0 12rem 0 0;
		line-height: 40rem;
		font-size: 16rem;
		overflow: hidden;
		border-radius: 6rem;

		&:hover {
			background-color: var(--hover);
		}

		.state {
			position: absolute;
			height: 40rem;
			top: 0;
			left: 0;
			background-color: #141414;

			&.playing {
				background-color: var(--accent);
			}
		}

		button {
			width: 40rem;
			height: 40rem;
			margin-right: 10rem;
			background-color: transparent;
			border-radius: 6rem;

			&:hover {
				background-color: var(--hover);
			}

			img {
				filter: invert(1);
			}
		}

		p {
			position: relative;
		}
	}

	.placeholder {
		display: none;
		text-align: center;
		font-size: 16rem;
		line-height: 40rem;
		font-weight: 500;
		color: rgb(191, 191, 191);

		&:nth-child(1) {
			display: block;
		}
	}
}

// hotkey panel
.hotkeys {
	padding: 10rem;
	flex: 10;
	max-height: 430rem;
	display: flex;
	flex-direction: column;
	gap: 6rem;
	overflow: hidden scroll;
	background-color: var(--palette-BG);

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #222222;
		border-radius: 4px;
	}

	.hotkeySlot {
		height: 40rem;
		display: flex;
		flex-direction: row;
		background-color: rgb(15, 15, 15);
		border-radius: 8rem;

		&.playing {
			.key {
				background-color: var(--accent);
			}

			.name {
				border: solid 4rem var(--accent);
			}
		}

		&:has(> .placeholder) {
			background-color: rgb(25, 25, 25);

			.key {
				color: #6e6e6e;
			}

			.name {
				color: #6e6e6e;
			}
		}

		.key {
			width: 28rem;
			height: 28rem;
			margin: 6rem;
			text-align: center;
			font-size: 18rem;
			line-height: 28rem;
			border-radius: 4rem;
		}

		.name {
			flex: 1;
			padding: 0 10rem;
			font-size: 18rem;
			line-height: 34rem;
			overflow: hidden;
			background-color: rgb(15, 15, 15);
			border: solid 3rem rgb(15, 15, 15);
			border-radius: 8rem;
		}

		.placeholder {
			flex: 1;
			border-radius: 8rem;
			background-color: var(--properties-BG);
			border: solid 3rem rgb(25, 25, 25);
		}
	}
}

// topbar
.topbar.toolbar {
	border-top-left-radius: var(--win-corner) !important;

	.topbar-button.mode-switch {
		width: auto !important;
		display: flex;
		flex-direction: row;
		padding: 0 4px;
		line-height: 28px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 0 6px 6px 0;
		color: var(--text);
		background-color: transparent;

		div {
			display: flex;
			flex-direction: column;
			height: 200%;

			p {
				padding: 0 6px 0 0;
				height: 50%;

				&:last-child {
					translate: 0 -100%;
				}
			}
		}
	}
}

// fade icon animation
.fade-state-icon {
	animation-name: spin;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;

	@keyframes spin {
		from {
			rotate: 0deg;
		}
		to {
			rotate: 359deg;
		}
	}
}
