.window-body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 54px 1fr auto;
	grid-template-areas: 'topBar  topBar   topBar'
						 'sideBar playList palettes'
						 'sideBar editor   palettes';
}

.side-bar {
	grid-area: sideBar;
	background-color: var(--topbar-BG);
	padding-top: 0;

	.trackList {
		height: 100%;
		overflow-x: hidden;
		padding: 10px;

		&::-webkit-scrollbar {
			width: 8px;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: #181818;
		}

		.category {
			height: 20px;
			font-size: 12px;
			padding-left: 4px;
			margin: 16px 0 0 0;
			font-weight: 600;

			&:first-of-type {
				margin: 0;
			}
		}

		.trackListItem {
			display: flex;
			height: 30px;
			padding: 0;
			font-size: 14px;
			border-radius: 6px;
			background-color: transparent;
			overflow: hidden;

			&:hover {
				background-color: var(--hover);
			}

			&.dragging {
				opacity: 70%;
			}

			img {
				width: 30px;
				height: 30px;
				filter: invert(100%);
			}

			p {
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.playlist {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	background-color: rgb(14, 14, 14);
	padding: 10rem;
	gap: 12rem;

	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #363636;
	}

	.placeholder {
		position: relative;
		z-index: 1;
		height: 60rem;
		line-height: 60rem;
		text-align: center;
		font-size: 12rem;
		color: gray;
		border-radius: 8rem;
		border: dashed 2px gray;
	}

	.playlistTrack {
		position: relative;
		z-index: 1;
		border-radius: 8rem;
		opacity: 40%;

		&.selected::after {
			position: absolute;
			top: -3rem;
			left: -3rem;
			width: 100%;
			height: 100%;
			border: 3rem solid var(--accent);
			border-radius: 11rem;
			background-color: transparent;
			display: inherit;
		}

		&.selected {
			box-shadow: 0 0 0 3rem var(--accent);
		}

		&.missing {
			.annotationStart {
				background-color: #aa0000;

			}

			.inner {
				background-color: #dd0000;

				* {
					opacity: 70%;
				}
			}

			.annotationEnd {
				background-color: #aa0000;

			}
		}

		&.loaded {
			opacity: 100%;
		}

		&.editMode {
			.inner {
				.repeatBtn {
					visibility: visible;

					&:hover {
						background-color: var(--hover);
					}
	
					&.active {
						background-color: var(--secondary);
					}
	
					img {
						filter: invert(90%);
					}
				}

				.playBtn {
					margin: 12rem 0 0 12rem;
				}


				.title {
					position: relative;
					flex: 1;
					padding: 0rem 0 0 14rem;
					height: 54rem;
					line-height: 27rem;
					font-size: 18rem;
					font-weight: 500;
					color: white;
				}

				.repeatBtn {
					margin: 12rem;
				}

				.length {
					text-align: right;
					width: 60rem;
					height: 50rem;
					line-height: 50rem;
					padding: 0rem 16rem 0 0;
					font-weight: 600;
				}

				.timecode {display: none;}

				.fade {
					position: relative;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-content: flex-start;
					width: 100rem;
					height: 54rem;
					padding: 0;
	
					p {
						width: 60rem;
						height: 18rem;
						margin: 6rem 0 0 0;
						font-size: 12rem;
					}
	
					input {
						width: 40rem;
						height: 18rem;
						margin: 6rem 0 0 0;
						border-radius: 4rem;
						text-align: right;
					}
				}

				.volume {
					position: relative;
					grid-area: volume;
					display: flex;
					flex-direction: column;
					height: 48rem;
	
					span {
						display: flex;
						flex-direction: row;
						height: 18rem;
						margin-top: 6rem;
					}
	
					p {
						width: 20rem;
						margin: auto 0;
						text-align: center;
						font-weight: bold;
					}
				}
			}
		}

		.inner {
			position: relative;
			z-index: 10;
			height: 60rem;
			display: flex;
			flex-direction: row;
			overflow: hidden;
			background-color: var(--panel2);
			border-radius: 8rem;

			.playBtn {
				position: relative;
				width: 30rem;
				height: 30rem;
				margin: 6rem 0 0 6rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				&.active {
					background-color: var(--secondary);
				}

				img {
					width: 30rem;
					height: 30rem;
					filter: invert(90%);
				}
			}

			.title {
				position: relative;
				flex: 1;
				height: 30rem;
				padding: 8rem 0 0 14rem;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 20rem;
				font-weight: 600;
				color: white;
			}

			.repeatBtn {
				position: relative;
				visibility: hidden;
				width: 30rem;
				height: 30rem;
				margin: 6rem 14rem 0 14rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}

				&.active {
					visibility: visible;
				}

				img {
					width: 30rem;
					height: 30rem;
					filter: invert(90%);
				}
			}

			.timecode {
				position: relative;
				width: 60rem;
				padding: 12rem 0 0 0;
				text-align: right;
				font-size: 16rem;
				font-weight: 600;

				&::after {
					content: '/';
					padding: 0 6rem;
				}
			}
			
			.length {
				position: relative;
				width: 50rem;
				padding: 12rem 0 0 0;
				text-align: left;
				font-size: 16rem;
				font-weight: 400;
			}

			.fade {
				display: none;
			}

			.volume {
				display: none;
			}

			input[type=range] {
				width: calc(100% - 40rem);
				height: 6rem;
				margin: auto 0;

				-webkit-appearance: none;
				outline: none;
				border-radius: 5rem;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 15rem;
					height: 15rem;
					border-radius: 50%;
					background-color: var(--accent);
				}
			}

			.progress {
				pointer-events: none;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 6rem;
				background-color: var(--secondary);
			}

			.waveform {
				position: absolute;
				bottom: 0rem;
				height: 20rem;
				width: 100%;
				filter: brightness(50%);
			}
		}
	}

	.playlistVideo {
		position: relative;
		z-index: 1;
		border-radius: 8rem;
		opacity: 40%;

		&.selected::after {
			position: absolute;
			top: -3rem;
			left: -3rem;
			width: 100%;
			height: 100%;
			border: 3rem solid var(--accent);
			border-radius: 11rem;
			background-color: transparent;
			display: inherit;
		}

		&.selected {
			box-shadow: 0 0 0 3rem var(--accent);
		}

		&.missing {
			.annotationStart {
				background-color: #aa0000;

			}

			.inner {
				background-color: #dd0000;

				* {
					opacity: 70%;
				}
			}

			.annotationEnd {
				background-color: #aa0000;

			}
		}

		&.loaded {
			opacity: 100%;
		}

		&.editMode {
			.inner {
				.repeatBtn {
					visibility: visible;

					&:hover {
						background-color: var(--hover);
					}
	
					&.active {
						background-color: var(--secondary);
					}
	
					img {
						filter: invert(90%);
					}
				}

				.playBtn {
					margin: 12rem 0 0 12rem;
				}


				.title {
					position: relative;
					flex: 1;
					padding: 4rem 0 0 14rem;
					height: 54rem;
					line-height: 23rem;
					font-size: 18rem;
					font-weight: 500;
					color: white;
				}

				.repeatBtn {
					margin: 12rem;
				}

				.length {
					text-align: right;
					width: 60rem;
					padding: 18rem 16rem 0 0;
					font-weight: 600;
				}

				.timecode {display: none;}

				.fade {
					position: relative;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-content: flex-start;
					width: 100rem;
					padding: 0;
	
					p {
						width: 60rem;
						height: 18rem;
						margin: 6rem 0 0 0;
						font-size: 12rem;
					}
	
					input {
						width: 40rem;
						height: 18rem;
						margin: 6rem 0 0 0;
						border-radius: 4rem;
						text-align: right;
					}
				}

				.volume {
					position: relative;
					grid-area: volume;
					display: flex;
					flex-direction: column;
	
					span {
						display: flex;
						flex-direction: row;
						height: 18rem;
						margin-top: 6rem;
					}
	
					p {
						width: 20rem;
						margin: auto 0;
						text-align: center;
						font-weight: bold;
					}
				}
			}
		}

		.inner {
			position: relative;
			z-index: 10;
			height: 60rem;
			display: flex;
			flex-direction: row;
			overflow: hidden;
			background-color: var(--panel2);
			border-radius: 8rem;

			.playBtn {
				position: relative;
				width: 30rem;
				height: 30rem;
				margin: 6rem 0 0 6rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				&.active {
					background-color: var(--secondary);
				}

				img {
					width: 30rem;
					height: 30rem;
					filter: invert(90%);
				}
			}

			.title {
				position: relative;
				flex: 1;
				height: 30rem;
				padding: 8rem 0 0 14rem;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 20rem;
				font-weight: 600;
				color: white;
			}

			.repeatBtn {
				position: relative;
				visibility: hidden;
				width: 30rem;
				height: 30rem;
				margin: 6rem 14rem 0 14rem;
				border-radius: 5rem;
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}

				&.active {
					visibility: visible;
				}

				img {
					width: 30rem;
					height: 30rem;
					filter: invert(90%);
				}
			}

			.timecode {
				position: relative;
				width: 60rem;
				padding: 12rem 0 0 0;
				text-align: right;
				font-size: 16rem;
				font-weight: 600;

				&::after {
					content: '/';
					padding: 0 6rem;
				}
			}
			
			.length {
				position: relative;
				width: 50rem;
				padding: 12rem 0 0 0;
				text-align: left;
				font-size: 16rem;
				font-weight: 400;
			}

			.fade {
				pointer-events: none;
				display: none;
			}

			.volume {
				pointer-events: none;
				display: none;
			}

			input[type=range] {
				width: calc(100% - 40rem);
				height: 6rem;
				margin: auto 0;

				-webkit-appearance: none;
				outline: none;
				border-radius: 5rem;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 15rem;
					height: 15rem;
					border-radius: 50%;
					background-color: var(--accent);
				}
			}

			.progress {
				pointer-events: none;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 6rem;
				background-color: var(--secondary);
			}
		}
	}

	.playlistAnotation {
		position: relative;
		padding: 7rem 10rem;
		background-color: var(--annotation);
		border-radius: 8rem;
		
		&.selected {
			box-shadow: 0 0 0 3rem var(--accent);
		}
		
		p {
			width: 100%;
			min-height: 15rem;
			font-size: 15rem;
			line-height: 15rem;
			text-align: left;
			color: white;
			background-color: transparent;
		}
	}

	.playlistLoop {
		position: relative;
		height: auto;
		background-color: rgb(31, 31, 31);
		border-radius: 8rem;

		&.selected {
			box-shadow: 0 0 0 3rem var(--accent);
		}

		button {
			position: absolute;
			width: 30rem;
			height: 30rem;
			border-radius: 5rem;
			background-color: transparent;

			&:hover {
				background-color: var(--hover);
			}

			img {
				width: 30rem;
				height: 30rem;
				filter: invert(90%);
			}
		}

		.playBtn {inset: 4rem;}

		.shuffleBtn { inset: 4rem 0 0 38rem;}

		.name {
			position: absolute;
			inset: 4rem 0 0 72rem;
			font-size: 16rem;
			padding: 4rem 0 4rem 8rem;
		}

		.container  {
			display: flex;
			flex-direction: column;
			padding: 38rem 4rem 4rem 4rem;

			.playlistItem {
				border-radius: 0;

				&:first-child {
					border-radius: 5rem 5rem 0 0;
					.inner {border-radius: 5rem 5rem 0 0;}
				}
	
				&:last-child {
					border-radius: 0 0 5rem 5rem;
					.inner {border-radius: 0 0 5rem 5rem;}
				}

				&.selected {
					.inner {
						background-color: var(--accent);
					}

					&::after {display: none;}
				}

	
				.inner {
					height: 30rem;
					border-radius: 0;

					.title {
						font-size: 14rem;
					}

					.playBtn {display: none;}
					.repeatBtn {display: none;}
					.fade {display: none;}
					.volume {display: none;}
					.waveform {display: none;}
				}
	
				.annotationStart {display: none;}
				.annotationEnd {display: none;}
			}
		}

	}

	.annotationStart {
		position: relative;
		z-index: 1;
		padding: 5rem 10rem 10rem 10rem;
		margin-bottom: -5rem;

		background-color: var(--annotation);
		border-radius: 8rem 8rem 0 0;

		p {
			width: 100%;
			font-size: 15rem;
			text-align: left;
		}
	}

	.annotationEnd {
		position: relative;
		z-index: 1;
		padding: 10rem 10rem 5rem 10rem;
		margin-top: -5rem;
		

		background-color: var(--annotation);
		border-radius: 0 0 8rem 8rem;

		p {
			width: 100%;
			font-size: 15rem;
			text-align: left;
		}
	}
}

.editor {
	grid-area: editor;
	height: 200rem;
	background-color: var(--properties-BG);
	border-top: 1px solid var(--grid-gap);

	.waveform {
		width: 100%;
		height: 100%;
		filter: invert(100%);
	}
}

.palettes {
	grid-area: palettes;
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--grid-gap);
	width: 250rem;
}

.current {
	background-color: var(--properties-BG);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 8rem;
	gap: 8rem;

	.song {
		position: relative;
		height: 32rem;
		padding: 0 8rem;
		line-height: 32rem;
		font-size: 12rem;
		overflow: hidden;
		border-radius: 5rem;

		&:hover {
			background-color: var(--hover);
		}

		.state {
			position: absolute;
			height: 32rem;
			top: 0;
			left: 0;
			background-color: #141414;

			&.playing {
				background-color: var(--secondary);
			}
		}

		p {
			position: relative;
		}
	}
}

.hotkeys {
	background-color: var(--properties-BG);
	padding: 6rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	.hotkeySlot {
		height: 24rem;
		display: flex;
		flex-direction: row;

		.key {
			width: 24rem;
			height: 24rem;
			text-align: center;
			font-size: 16rem;
			line-height: 24rem;
		}

		.name {
			flex: 1;
			margin: 0 4rem;
			padding: 0 8rem;
			font-size: 14rem;
			line-height: 24rem;
			background-color: #1b1b1b;
			border-radius: 6rem;
		}
	}
}

.topBar {
	min-height: var(--topbar-height);
}