main.mac {
    .win-buttons-mac {
        filter: grayscale(100%);

        &.active {
            filter: none;
        }
    }

    .topbar-container {
        padding-right: 14px;
    }
}

main.win {
    .topbar .topbar-container  {
        padding-left: 9px;
    }
}