.playlist {
	display: flex;
	flex-direction: column;
	overflow: hidden scroll;
	padding-bottom: 10vh;
	background-color: var(--playlist-BG);

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #363636;
		border-radius: 4px;
	}

	&.show-annotations {
		.playlist-item .annotation-attached {
			display: block;
		}

		.annotation {
			display: flex;
		}

		.annotation-placeholder {
			display: flex;
		}
	}

	.annotation-slider {
		display: block;
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		inset: 0;
		margin: 0 20%;

		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			appearance: none;
			height: 12rem;
			background-color: rgba(0, 0, 0, 0);
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			cursor: ew-resize;
			height: 12rem;
			width: 6rem;
			border-radius: 0 0 3rem 3rem;
			background: #333;
		}
	}

	.drag-top::after {
		content: "";
		position: absolute;
		top: 3.5rem;
		width: 100%;
		height: 3rem;
		background-color: var(--accent);
		border-radius: 1rem;
	}

	.drag-bottom::after {
		content: "";
		position: absolute;
		bottom: -6rem;
		width: 100%;
		height: 3rem;
		background-color: var(--accent);
		border-radius: 1rem;
	}

	.drag-end {
		margin-left: 9rem;
		margin-right: 9rem;
		translate: 0 4rem;
		height: 3rem;
		background-color: var(--accent);
		border-radius: 1rem;
	}

	.selected {
		&:has(.input:focus, input[type="number"]:focus) {
			.inner {
				box-shadow: 0 0 0 3rem var(--accent-dim);
			}
		}

		.inner {
			box-shadow: 0 0 0 3rem var(--accent);
		}

		.container {
			box-shadow: 0 0 0 3rem var(--accent);
		}
	}

	.playlist-item {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 12rem;
		padding: 12rem 12rem 0 12rem;

		//item hover effect
		&:has(.drag-area:hover) {
			&::after {
				content: "";
				position: absolute;
				pointer-events: none;
				inset: 4rem 4rem -8rem 6rem;
				background-color: rgba(255, 255, 255, 0.06);
				border-radius: 16rem;
			}
		}

		.drag-area {
			cursor: grab;
			width: 28rem;
			min-width: 28rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 6rem;

			& > p {
				display: block;
				pointer-events: none;
				margin: auto;
				font-size: 12rem;
				font-weight: 800;
			}
		}

		.annotation-attached {
			z-index: 1;
			position: relative;
			display: none;
			width: var(--annotation-width);
			background: var(--annotation);
			border-radius: 10rem;

			&:has(:focus) {
				box-shadow: 0 0 0 3rem var(--accent);
			}

			.annotation-input {
				width: 100%;
				min-height: 100%;
				padding: 8rem;
				font-size: 18rem;
				line-height: 22rem;
				text-align: left;
				color: var(--text);
				background-color: transparent;
				overflow: hidden;

				&::selection,
				*::selection {
					color: white;
					background-color: var(--accent);
				}
			}

			.annotation-display {
				display: block;
				width: 100%;
				min-height: 100%;
				padding: 8rem;
				font-size: 18rem;
				line-height: 22rem;
				text-align: left;
				color: white;
				overflow: hidden;
			}
		}

		.annotation-placeholder {
			width: var(--annotation-width);
			flex-direction: column;
			justify-content: center;

			button {
				width: 40rem;
				height: 40rem;
				margin: auto 0 auto auto;
				border-radius: 6rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				img {
					filter: invert(1);
				}
			}
		}

		.inner {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: row;
			gap: 8rem;
			align-items: center;
			overflow: hidden;
			background-color: var(--playlist-item-BG);
			border-radius: 10rem;

			.play-btn {
				width: 40rem;
				height: 40rem;
				border-radius: 6rem;
				background-color: transparent;

				&:hover {
					background-color: var(--hover);
				}

				&.active {
					background-color: var(--accent);
				}

				img {
					width: 40rem;
					height: 40rem;
					filter: invert(90%);
				}
			}

			.title {
				position: relative;
				flex: 1;
				display: flex;
				justify-content: left;
				height: 40rem;
				line-height: 40rem;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 24rem;
				font-weight: 500;
				color: white;

				.icon {
					width: 36rem;
					height: 36rem;
					filter: invert(90%);
					translate: 0 2rem;
				}

				.title-input {
					display: block;
					position: absolute;
					width: inherit;
					height: inherit;
					margin: auto 0;
					color: var(--accent);
					background-color: transparent;
					font-size: inherit;
					font-weight: inherit;

					&::selection {
						color: white;
						background-color: var(--accent);
					}
				}

				.title-display {
					display: block;
					margin: auto 0;
					color: inherit;
					background-color: transparent;
					font-size: inherit;
					font-weight: inherit;
				}
			}

			.length {
				position: relative;
				width: 56rem;
				height: 40rem;
				line-height: 40rem;
				text-align: right;
				font-size: 20rem;
				font-weight: 600;
			}

			.options {
				display: flex;
				flex-direction: row;
				gap: 4rem;

				&.stacked {
					flex-wrap: wrap;
					width: 70rem;

					.option.hotkey {
						width: 68rem;

						.unset {
							width: 58rem;
						}
					}
				}

				.option {
					position: relative;
					width: 32rem;
					height: 32rem;
					border-radius: 6rem;
					background-color: transparent;

					&:hover {
						background-color: var(--hover);
					}

					&.active {
						background-color: var(--accent);
					}

					&.hotkey {
						display: block;
						position: relative;
						width: 32rem;
						height: 32rem;

						&:hover {
							background-color: var(--hover);
						}

						p {
							pointer-events: none;
							position: absolute;
							inset: 0;
							width: 100%;
							height: 100%;
							color: var(--text);
							background-color: var(--accent);
							border-radius: 5rem;
							text-align: center;
							line-height: 32rem;
							font-size: 12rem;
							font-weight: 800;

							&.unset {
								height: 20rem;
								width: 20rem;
								inset: 6rem;
								line-height: 16rem;
								color: var(--text);
								background-color: transparent;
								border: 2rem solid var(--text);
							}
						}

						select {
							opacity: 0;
							width: 100%;
							height: 100%;
							border-radius: 6rem;
							background-color: transparent;
						}
					}

					img {
						width: 34rem;
						height: 34rem;
						margin: -1rem;
						filter: invert(90%);
					}
				}
			}

			.fade {
				position: relative;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				&.stacked {
					flex-direction: column;
					gap: 4rem;
				}

				.input-number {
					position: relative;
					display: flex;
					flex-direction: row;
					gap: 2rem;
					height: 34rem;
					width: 80rem;
					border-radius: 6rem;

					&:hover {
						background-color: var(--hover);
						cursor: ew-resize;
					}

					.fade-icon {
						width: 32rem;
						height: 32rem;
						font-size: 12rem;
						filter: invert(1);
						pointer-events: none;
					}

					input {
						width: 100%;
						-webkit-appearance: none;
						appearance: none;
						color: var(--text);
						background-color: transparent;
						line-height: 20rem;
						font-size: 14rem;
						text-align: center;
						border-radius: 6rem;

						&:focus {
							box-shadow: 0 0 0 3rem var(--accent);
						}
					}

					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					.display {
						width: 100%;
						opacity: 100%;
						inset: 0 17px 0 0;
						color: var(--text);
						line-height: 36px;
						font-size: 14px;
						font-weight: 600;
						text-align: left;
						border-radius: 6px;
					}
				}
			}

			.progress {
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				background-color: white;
			}
		}
	}

	.video {
	}

	.loop {
		.content {
			position: absolute;
			inset: auto 4rem 4rem 4rem;
			display: flex;
			flex-direction: column;
			gap: 4rem;
			padding: 4rem;
			background-color: var(--playlist-BG);
			border-radius: 6rem;

			.loop-item {
				height: 30rem;
				background-color: var(--playlist-item-BG);
				line-height: 30rem;
				font-size: 13rem;
				font-weight: 600;
				padding: 0 10rem;
				border-radius: 3rem;
			}

			.placeholder {
				height: 32rem;
				line-height: 32rem;
				margin: 0;
				border: none;
			}
		}
	}

	.annotation {
		display: none;
		border-radius: 8rem;
		background-color: transparent;

		.container {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: row;
			z-index: 10;
			background-color: var(--annotation);
			border-radius: 10rem;

			input.name-input {
				width: 100%;
				min-height: 24rem;
				padding: 8rem;
				font-size: 18rem;
				line-height: 22rem;
				text-align: left;
				color: var(--text);
				background-color: transparent;

				&::selection,
				*::selection {
					color: white;
					background-color: var(--accent);
				}
			}

			.name-display {
				flex: 1;
				position: relative;
				padding: 8rem;
				display: flex;
				justify-content: left;
				font-size: 18rem;
				font-weight: 500;
				color: white;
			}
		}
	}

	//placeholde in empty playlist
	.placeholder {
		display: none;
		position: relative;
		z-index: 1;
		margin: 12rem 12rem 0 12rem;
		height: 80rem;
		line-height: 80rem;
		text-align: center;
		font-size: 16rem;
		font-weight: 800;
		color: gray;
		border-radius: 8rem;
		border: dashed 2px gray;

		&:first-child {
			display: block;
		}
	}
}
