
.content:has(.screen) {
	display: flex;
	flex-direction: column;
	padding: 30px 0;

	.screen {
		display: flex;
		flex-direction: row;
		gap: 16px;
		width: 260px;
		margin: 0 auto;
		padding: 8px;
		font-size: 13px;
		font-weight: 600;
		border-radius: 6px;

		&:hover {
			background-color: var(--hover);
		}

		&.active {
			background-color: var(--secondary);
		}

		.display {
			left: 12px;
			width: 80px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: var(--properties-BG);
			background-color: white;
			text-align: center;
			border-radius: 4px;
		}

		span {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.content.update {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	padding: 30px 100px;
}

.content.dev {
}
