.playlist.edit-mode .playlist-item .inner {
	.volume.slider {
		position: relative;
		grid-area: volume;
		display: flex;
		gap: 4rem;
		flex-direction: column;

		span {
			display: flex;
			flex-direction: row;
			height: 32rem;
		}

		p {
			width: 30rem;
			height: 32rem;
			line-height: 32rem;
			margin: 0 0 0 4rem;
			text-align: center;
			font-weight: bold;
			font-size: 12rem;
		}
	}

	.volume.knobs {
		position: relative;
		display: flex;
		flex-direction: row;

		span {
			position: relative;
			height: 40rem;
			width: 40rem;
			display: flex;
			justify-content: center;
			align-items: center;

			.default-mark {
				position: absolute;
				width: 2rem;
				height: 18rem;
				top: 20rem;
				left: 20rem;
				transform-origin: center top;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 2rem;
			}

			.knob {
				pointer-events: none;
				z-index: 2;
				width: 30rem;
				height: 30rem;
				background-color: gray;
				border-radius: 50%;

				.mark {
					pointer-events: none;
					position: absolute;
					width: 4rem;
					height: 16rem;
					left: 13rem;
					top: -1rem;
					border-radius: 2rem;
					background-color: rgb(255, 255, 255);
				}
			}

			.arch {
				pointer-events: none;
				position: absolute;
				width: 38rem;
				height: 38rem;
				border-radius: 50%;
			}

			.number-display {
				display: none;
				position: absolute;
				z-index: 3;
				width: 38rem;
				inset: 48rem 12rem auto 12rem;
				padding: 4rem;
				border-radius: 6rem;
				border: 1px solid rgb(87, 87, 87);
				text-align: center;
				font-weight: 800;
				background-color: #1b1b1b;
				box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.341);

				&.drag {
					display: block;
				}
			}
		}
	}

	.volume.knobs.slim {
		height: 40rem;

		span {
			height: 40rem;

			.default-mark {
				width: 2rem;
				height: 14rem;
				top: 20rem;
				left: 20rem;
			}

			.knob {
				height: 22rem;
				width: 22rem;
				margin: 9rem;

				.mark {
					width: 4rem;
					height: 12rem;
					left: 10rem;
					top: -1rem;
				}
			}

			.arch {
				width: 30rem;
				height: 30rem;
				margin: 5rem;
			}
		}
	}

	//slider
	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		outline: none;
		//width: calc(100% - 30rem);
		height: 16rem;
		margin: 8rem 0;
		background-color: #1b1b1b;
		border-radius: 5rem;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 6rem;
			height: 18rem;
			margin: 1rem;
			translate: 0 -2rem;
			border-radius: 8rem;
			background-color: var(--text);
			//box-shadow: 0px 0px 0 2rem var(--panel2);
		}

		&::-webkit-slider-runnable-track {
			height: 16rem;
			background-color: rgb(71, 71, 71);
			background: var(--slider-bg);
			border-radius: 5rem;
		}
	}
}
